.container {
    display:grid;
    align-items: center;
    text-align: center;
    max-width: 600px;
    margin: auto;
    .row {
        display: grid;
        flex: 1;
        max-width: 560px;
        .link {
            padding: 40px;
            margin: 5px;
            text-align: center;
            cursor: pointer;
            border-radius: 12px;
            background-color: rgb(233, 134, 150);
            flex: 1;
            &:hover{
                background-color: pink;
            }
        }
        .patient-header {
            display: flex;
            .patient-photo{
                margin: 10px;
                height: 100px;
                width: 100px;
                border-radius: 50%;
                background-color: lightgray;
            }
            .patient-info{
                text-align: left;
                .patient-name {
                    font-size: 18px;
                    font-weight: bold;
                    margin-top: 24px;
                }
                .patient-phone {
                    display: flex;
                    font-size: 14px;
                    color: gray;
                    margin-top: 8px;
                    align-items: center;    
                    gap: 10px;
                }
                .patient-email {
                    display: flex;
                    font-size: 14px;
                    color: gray;
                    margin-top: 8px;
                    align-items: center;    
                    gap: 10px;
                }
            }
        }
    }
}