@use '../../../assets/styles/variables'as var;

.full-width {
  width: 100%
}

.toolbar {
  display: flex;
  gap: 10px;
}

table {
  width: 100%;
  background-color: white;
}

.add-button {
  box-shadow: none;
}

.open-button {
  color: var.$edit;
  /* Green color for open button */
}

.delete-button {
  color: var.$fail;
  /* Red color for delete button */
}