@use '../../../../assets/styles/variables'as vars;

h2 {
  margin: 24px;
  font-weight: 300;
}

.dashboard-home {
  display: flex;

  .appointments-section {
    flex: 1;
    display: flex;
    flex-direction: column;

    .appointments {
      margin: 24px;
      font-size: 16px;
      color: vars.$white;
      background-color: vars.$female;
      padding: 24px;
      border-radius: 12px;
    }
  }
}

.patients {
  margin: 24px 24px 0px 0px;
  padding: 24px;
  border-radius: 12px;
  background-color: vars.$white;
}

.appt-card {
  display: flex;
  align-items: center;
  background: vars.$white;
  border-radius: 8px;
  margin: 8px 24px;
  box-shadow: 0 2px 4px vars.$light-gray;
  overflow: hidden;
  padding: 12px;
}

.appt-border {
  width: 6px;
  height: 100%;
}

.female-border {
  border-left: solid 15px vars.$female;
}

.male-border {
  border-left: solid 15px vars.$male;
}

.appt-info {
  flex: 1;
}

.appt-time {
  font-weight: bold;
}

.appt-name {
  font-size: 14px;
  margin-top: 2px;
}

.appt-type {
  font-size: 12px;
  color: vars.$dark-gray;
}

.status-waiting {
  color: vars.$doc-gray;
}

.status-progress {
  color: vars.$edit;
}

.status-done {
  color: vars.$success;
}

.chip {
  padding: 4px 8px;
  border-radius: 20px;
  font-size: 12px;
}

.chip:hover {
  cursor: pointer;
}

.waiting-chip {
  border: solid 1px vars.$doc-gray;
  color: vars.$doc-gray;
}

.in-progress-chip {
  border: solid 1px vars.$edit;
  color: vars.$edit;
}

.done-chip {
  border: solid 1px vars.$success;
  color: vars.$white;
  background-color: vars.$success;
}

.cancelled-chip {
  border: solid 1px vars.$fail;
  color: vars.$white;
  background-color: vars.$fail;
}

@media screen and (max-width: 768px) {
  .dashboard-home {
    flex-direction: column;

    .appointments-section {
      .appointments {
        margin: 16px;
      }
    }
  }

  .patients {
    margin: 24px;
  }
}