<mat-toolbar color="primary" *ngIf="auth.user$ | async as user">
  <mat-toolbar-row>
   
    <span (click)="goHome()">
      <img src="assets/images/doc-assist-logo.png" alt="" class="logo">
    </span>
    <span class="spacer"></span>
    <!-- <button mat-button (click)="handleLogout()">Logout</button> -->
    <button matIconButton [matMenuTriggerFor]="menu" aria-label="Menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="handleLogout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
  <mat-toolbar-row>
     <button mat-icon-button *ngIf="showBackButton()" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="salutation">Hello Dr. {{ userName }}</span>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet />
